<h1>Articles Search Box</h1>

<%= form_tag articles_path, method: :get, remote: true do %>
  <%= text_field_tag :search, nil, placeholder: "Search articles..." %>
<% end %>

<div id="search-results"></div>

